{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6" text-center>
        <h2 class="mb-4">Change Password</h2>
        <form method="POST" action="{{ url_for('auth.change_pass') }}">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.new_password.label(class='form-label') }}
            {{ form.new_password(class='form-control', style='max-width: 250px;') }}
          </div>
          <br>
          <div class="form-group">
            {{ form.confirm_password.label(class='form-label') }}
            {{ form.confirm_password(class='form-control', style='max-width: 250px;') }}
          </div>
          <br>
          <div class="form-group">
            {{ form.submit_button(class='btn btn-primary btn-block') }}
          </div>
        </form>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock content %}